.IRdot {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.FSdot {
  height: 10px;
  width: 10px;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
}
.Vdot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.Legend {
    padding: 10px;
}

.Space {
    width: 10px;
}

.legendFormat {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.label {
  fill: black;  
}
